// Paleta de colores
$color-bc-de-body: rgb(10, 20, 50);
$color-letra: whitesmoke;
$color-negro: black;
$color-beige: beige;
$color-bc-de-btn: rgb(248, 248, 205);
$color-bc-de-hover: rgb(252, 252, 252);
$color-sombra: rgb(83, 125, 204);

// Medidas y Tamaños
$width-logo: 100px;
$width-cienporciento: 100%;
$width-icono: 30px;
$width-form: 350px;
$margin-h1: 10px;
$margin-grid: 3rem 2rem; 
$margin-icono: 20px;
$margin-bottom-form-h2: 10px;
$margin-bottom-form-textarea: 20px;

// texto
$font-family: Arial, Helvetica, sans-serif;
$font-weight: bold;

// Sombra
$box-shadow-icono: 0 5px 10px;
$box-shadow-formulario: 0 5px 10px;
$box-shadow-btn-formulario: 0 0 10px;

// Bordes
$border-radius-icono: 30%;
$border-radius-iframe: 5%;
$border-radius-formulario: 20px;
$border-radius-form-textarea: 20px;
$border-formulario-textarea: 2px;
$border-btn-formulario: 0px;