@import "../base/mixin";
@import "../base/variables";

/*Estilos de Biografia*/
main{
    .biografia{
        @include flex-biografia;
        @include tablet{
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
        @include desktop{
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
        iframe{
            border-radius: $border-radius-iframe;
            width: $width-cienporciento;
            margin: 20px;
            @include tablet{
                width: 48%;
                margin: 5px;
            }   
            @include desktop{
                width: 45%;
                height: 50vh;
            }
        }
    }
    p{
        @include biografia-parrafo;
    } 
}