@import "../base/mixin";
@import "../base/variables";

/*Estilos de Contacto*/
main{
    section{
        @include flex-formulario;
        
        div{
            .img-formulario, .img-formulario2{
                display: none;
                @include tablet{
                    display: block;
                    width: 20vw;
                }
            }
        }
        form{
            @include formulario;
            div{
                @include flex-formulario-div;
                input, textarea{
                    @include formulario-textarea;
                }
                .btn-formulario{
                    @include btn-formulario;
                }
                .btn-formulario:hover{
                    background-color: $color-bc-de-hover;
                }
            }
            h2{
                @include formulario-h2;
            }
        }
    }
}